<%
  _hb.header("Content-Type", "application/json")

  print JSON.generate(
    "_SERVER" => _meta,
    "_POST" => _post,
    # "PHP_JSON_INPUT" => json_decode(file_get_contents('php://input'))
  )
%>